@font-face {
	font-family: Sodo_sans-regular;
	src: url(../fonts/SoDoSans-Regular.woff);
}

@font-face {
	font-family: Sodo_sans-light;
	src: url(../fonts/SoDoSans-Light.woff);
}

@font-face {
	font-family: Sodo_sans-thin;
	src: url(../fonts/SoDoSans-Thin.woff);
}

@font-face {
	font-family: Sodo_sans-semibold;
	src: url(../fonts/SoDoSans-SemiBold.woff);
}

@font-face {
	font-family: Sodo_sans-bold;
	src: url(../fonts/SoDoSans-Bold.woff);
}

@font-face {
	font-family: Sodo_sans-black;
	src: url(../fonts/SoDoSans-Black.woff);
}
