@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts';
@import './colors';

@layer components {
	.myButton {
		@apply px-5 btn btn-sm btn-outline rounded-full;
	}

	.woButton {
		@apply px-5 btn btn-sm rounded-full;
	}
}

.noscroll {
	overflow-y: hidden;
}
.rewards {
	background-color: $primary--100;
}

.is-sticky {
	position: fixed;
	z-index: 100;
	top: 0;
}

.homeContent {
	&__firstContent {
		background-color: #bbf2d1;
	}

	&__secondContent {
		background-color: #337481;
		color: #fff;
	}

	&__thirdContent {
		background-color: $primary--200;
		color: #fff;
	}

	&__fourthContent {
		background-color: #efabfc;
	}

	&__fifthContent {
		background-color: #a5c4dc;
	}

	&__sixthContent {
		background-color: #d4e9e2;
	}
}

.navbarContent {
	&__links {
		position: relative;
		transition: all 0.2s ease-in;
		cursor: pointer;

		&:hover {
			color: $primary--100;
			opacity: 1;
		}

		&::before {
			transition: 300ms;
			height: 5px;
			content: '';
			position: absolute;
			background: $primary--200;
		}
	}

	&__grow {
		&::before {
			height: 0%;
			width: 100%;
			bottom: -120%;
		}

		&:hover {
			&::before {
				height: 5px;
			}
		}
	}
}

.heroContent {
	background-color: $primary--300;

	&__btn {
		background-color: $primary--200;
	}
}

.favouriteContent {
	&__title {
		background-color: $primary--400;

		&--links {
			position: relative;
			transition: all 0.2s ease-in;
			cursor: pointer;

			&:hover {
				color: $primary--100;
				opacity: 1;
			}

			&::before {
				transition: 300ms;
				height: 5px;
				content: '';
				position: absolute;
				background: $primary--600;
			}
		}

		&--grow {
			&::before {
				height: 0%;
				width: 100%;
				bottom: -120%;
			}

			&:hover {
				&::before {
					height: 5px;
				}
			}
		}
	}

	&__carousel {
		background-color: $primary--300;
	}
}

.earnStarsContent {
	background-color: $primary--500;
}

.keepRewardsContent {
	background-image: url('../images/wrapper.webp');
	background-size: cover;

	@media (max-width: 768px) {
		background-image: none;
	}

	&__bg {
		background-color: $primary--300;
	}
}

.ctaContent {
	background-color: $primary--400;
}

.giftcardGroup {
	background-color: $primary--500;
}

.recievedGift {
	background-color: $primary--300;
}

.businessGift {
	background-color: $primary--400;
}

.support {
	background-color: $primary--500;
}

.swiper-button-next,
.swiper-button-prev {
	padding: 1.5rem;
	background-color: $primary--400;
	color: black;
	border-radius: 100%;

	&::after {
		font-size: 1rem;
	}
}
